.navbar{
  display: flex;
  flex-direction: row;
  height: 22vh;
  background-color: gray;
  .logo{
    width: 25%;
    height: 100%;
    // margin-top: 2vh;
    // display: flex;
    // align-items: center;
    .logo-img{
      width: 90%;
      height: 100%;
      object-fit: cover;
    }
  }
  .search{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .cart{
    width: 25%;
    height: 100%;
  }
}
